.sectionContainer {
    padding: 16px 20px 32px 20px;
    max-width: 375px;
    margin: 0 auto;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.entryDetails {
    display: none;
}

@media only screen and (min-width: 768px) {
    .sectionContainer {
        padding: 16px 32px 32px 32px;
        max-width: 768px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1440px) {
    .sectionContainer {
        margin-left: 312px;
        margin-right: 0;
        max-width: 1128px;
        gap: 32px;
    }

    .contentContainer {
        flex-direction: row;
    }

    .entryDetails {
        display: block;
    }
}